/*variables y reset */

:root {
    --color-primary:      #2563EB;
    --color-primary-dark: #1A2B4A;
    --color-accent:       #f97316;
    --color-accent-light: #FDBA74;
    --color-bg:           #F1F5F9;
    --color-white:        #FFFFFF;
    --color-text:         #1E293B;
    --color-text-muted:   #64748b;
    --color-border:       #E2E8F0;

    --sidebar-width:240px;
    --topbar-height:64px;
    --radius: 8px;
    --shadow: 0 1px 3px rgba(0,0,0,0.1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background: var(--color-bg);
    color: var(--color-text);
    font-size: 14px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    border: none;
    background: none;
}

.wrapper {
    margin-left: var(--sidebar-width);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.sidebar{
    position: fixed; /*se queda fijo aunque se haga scroll*/
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background: var(--color-primary-dark);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.main-content {
    padding: 24px;
    flex: 1;
    margin-top: var(--topbar-height);
}

.topbar {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--topbar-height);
    background: var(--color-white);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    padding: 0 24px;
    gap: 16px;
    z-index: 99;

}

.sidebar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 24px;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar__logo-icon{
    color: var(--color-accent);
    font-size: 22px;
}

.sidebar__nav{
    padding: 16px 0;
    flex: 1;
}

.sidebar__item{
    margin: 2px 12px;

}

.sidebar__link{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 16px;
    border-radius: var(--radius);
    color: rgba(255, 255, 255, 0.65);
    transition: all 0.2s;
}

.sidebar__link:hover{
    background: rgba(255, 255, 255, 0.08);
    color: var(--color-white);
}
.sidebar__item--active .sidebar__link{
    background: var(--color-primary);
    color: var(--color-white);
}
.sidebar__icon{
    font-size: 16px;
    width: 20px;
    text-align: center;
}
.sidebar__label{
    font-size: 14px;
}

.topbar__menu-btn{
    font-size: 18px;
    color: var(--color-text-muted);
    padding: 8px;
    border-radius: var(--radius);
    transition: all 0.2s;
}
.topbar__menu-btn:hover{
    background: var(--color-bg);
    color: var(--color-text);
}
.topbar__search{
    display: flex;
    align-items: center;
    gap: 8px;
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    border-radius: var(--radius);
    padding: 8px 14px;
    flex: 1;
    max-width: 400px;
    color:var(--color-text-muted);
}
.topbar__search input{
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    color: var(--color-text);
    width: 100%;
}

.topbar__search input::placeholder{
    color: var(--color-text-muted);
}

.topbar__actions{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.topbar__btn {
    font-size: 16px;
    color: var(--color-text-muted);
    padding: 8px;
    border-radius: var(--radius);
    transition: all 0.2s;
}

.topbar__btn:hover{
    background: var(--color-bg);
    color:var(--color-text);
}

.topbar__profile{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 10px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 8px;
}

.topbar__profile:hover{
    background: var(--color-bg);
}

.topbar__avatar{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 700;
}

.topbar__user-info{
    display: flex;
    flex-direction: column;
}

.topbar__use-name{
    font-size: 13px;
    font-weight: 600;
    color: var(--color-text);

}

.topbar__user-role{
    font-size: 11px;
    color: var(--color-text-muted);
}

.stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin-bottom: 24px;
}

.stats__card{
    background: var(--color-white);
    border-radius: var(--radius);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--shadow);

}

.stats__number{
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 6px;

}

.stats__label{
    font-size: 13px;
    color: var(--color-text-muted);
}

.stats__icon{
    width: 52px;
    height: 52px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

.stats__icon--blue{
    background: var(#EFF6FF);
    color: var(--color-primary);
}

.stats__icon--green{
    background: #F0FDF4;
    color: #16a34a;
}

.stats__icon--orange{
    background: #fff7ed;
    color: var(--color-accent);
}

.stats__icon--red{
    background: #FEF2F2;
    color: #DC2626;
}

/*   orders table  */

.orders{
    background: var(--color-white);
    border-radius: var(--radius);
    box-shadow: 3px 10px 3px rgba(0, 0, 0, 0.5);
    overflow: hidden;

}

.orders__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-border);
}

.orders__title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
}

.orders__btn-new {
    display: flex;
    align-items: center;
    gap: 6px;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 8px 16px;
    border-radius: var(--radius);
    font-size: 13px;
    font-weight: 500;
    transition: all 0.2s;
}

.orders__btn-new:hover {
    background: var(--color-primary-dark);
}

.orders__table-wrapper {
    overflow-x: auto;
}

.orders__table {
    width: 100%;
    border-collapse: collapse;
}

.orders__table th {
    text-align: left;
    padding: 12px 24px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-text-muted);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: var(--color-bg);
    border-bottom: 1px solid var(--color-border);
}

.orders__table td {
    padding: 14px 24px;
    font-size: 14px;
    color: var(--color-text);
    border-bottom: 1px solid var(--color-border);

}

.orders__table tr:last-child td {
    border-bottom: none;
}

.orders__table tr:hover td {
    background: rgba(145, 1, 158, 0.8);
}
.orders__action-btn {
    color: var(--color-text-muted);
    padding: 6px;
    border-radius: 6px;
    font-size: 13px;
    transition: all 0.2s;
}

.orders__action-btn:hover {
    background: var(--color-bg);
    color: var(--color-primary);
}

/*  badges  */

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;

}

.badge--process {
    background: #EFF6FF;
    color: var(--color-primary);
}

.badge--pending {
    background: #fff7ed;
    color: var(--color-accent);
}

.badge--done {
    background: #f0fdf4;
    color: #16a34a;
}